.header {
    display: flex;
    justify-content: center;
    margin: 10px;
}
.song-list-img {
    margin-right: 20px;
    width: 220px;
}
/*歌单信息上方图片*/
.song-list-img-pic {
    width: 200px;
    height: 200px;
}
.left-col {
    width: 200px;
}
.right-col {
    width: 400px;
}
.song-list-info {
    margin-left: 20px;
    color: #999999;
    width: 500px;
    font-size: 14px;
}

.song-list-time {
    margin: 5px;
}
.song-list-author{
    margin: 5px;
}
.action-btn {
    margin-top: 10px;
    margin-bottom: 10px;
}
.song-list-tag-item {
    margin: 5px;
}
.content {
   margin-left: 25%;
}
.content-header {
    display: flex;
    justify-content: center;
}
.header-row {
    width: 100%;
}

.song-header-col {
    color: #999;
    float: left;
    list-style: none;
    margin-top: 1%;
    margin-bottom: 1%;
}
.header-song-name {
    margin-left: 9%;
}
.header-song-time {
     margin-left: 0%;
 }

.song-row {
    width: 100%;
}

.play-list-song-col {
    float: left;
    line-height: 30px;
}
.playlist-song-info {
    list-style: none;
    line-height: 30px;
}
.col-num {
    color: #999;
}
.col-name {
    color: #333;
}
.singer {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.col-time {
    color: #999;
}
