.header-bg {
    background: #424b50;
    display: flex;
    justify-content: center;
}
.icon-btn {
    margin-top: 10px;
    margin-bottom: 5px;
}
.banner {

}
.songList {
    width: 100%;
    background: #d7ecf1;
}
.title {
    display: flex;
    justify-content: center;
    width: 100%;
    font: 30px large bold;
    color: #424b50;
}

.listContent {
    display: flex;
    justify-content: center;
    height: 100%;
}
.card {
    height: 400px;
}
.image {
    width:auto;
    height:auto;
    max-width: 270px;
    max-height: 270px;
}
.card-item-name {
    max-width: 270px;
    max-height: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1';
    margin:0;
    padding:0;
    color: #34588e;
}
.card-item-count {

    margin:0px;
    padding:10px;
}
.count-info {
    display: flex;
    justify-content: flex-end;
    font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1';
    color: #aaa;
    font:12px small;
}