.header-bg {
    background: #424b50;
    display: flex;
    justify-content: center;
}
.icon-btn {
    margin-top: 10px;
    margin-bottom: 5px;
}
.banner {

}
.playList {
    width: 100%;
    background: #d7ecf1;
}
.play-list-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font: 30px large bold;
    color: #424b50;
}

.listContent {
    display: flex;
    justify-content: center;
    height: 100%;
}
.card {
    height: 400px;
}
.image {
    width:auto;
    height:auto;
    max-width: 270px;
    max-height: 270px;
}
.card-item-name {
    max-width: 270px;
    max-height: 270px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1';
    margin:0;
    padding:0;
    color: #34588e;
}
.card-item-count {
    margin:0px;
    padding:10px;
}
.count-info {
    display: flex;
    justify-content: flex-end;
    font-family: 'Microsoft Yahei','\5FAE\8F6F\96C5\9ED1';
    color: #aaa;
    background: #415065;
    font:12px small;
}

.song-list {
    width: 100%;
    background: #415065;
}
.song-list-title {
    display: flex;
    justify-content: center;
    width: 100%;
    font: 30px large bold;
    color: #fff;
    margin: 0;
    padding: 0;
}
.listContent {
    display: flex;
    justify-content: center;
    height: 100%;
   padding-bottom:  10px;
}
.song-col {
    width: 180px;
    height: auto;
}
.song-img-div {
    border: none;
    display:inline-block;
    position:relative;
    width:200px;
    height:auto;
    overflow:hidden;

}

.song-image {
    width:200px;
    height: 200px;
    clip-path: circle(30% at 50% 50%);
    background: none;

}
.home-song-name {
    color: #fff;
    position:absolute; z-index:1;
    left: 0; right: 0;
    top:166px;
    margin:auto;
    text-align: center;
    vertical-align:middle;
}
.song-singer {
    position:absolute; z-index:1;
    left: 0; right: 0;
    color: #aaaaaa;
    font-size: 12px;
    top:186px;
    margin:auto;
    text-align: center;
    vertical-align:middle;
}